$white-light: #e8e8e8;
$magenta: #E73273;
$magenta-light: #ff5a95;
$purple: #6B03E0;
$background: #181818;
$black-dark: #222222;
$black-main: #262626;
$black-light: #383838;
$grey: #c2c2c2;

$border-radius--micro: 4px;
$border-radius--minor: 6px;
$border-radius--small: 10px;
$border-radius--middle: 15px;